/*.keys
/*.log
/.scannerwork
/localhost.crt
/localhost.key
/node_modules
/test-output.xml

/demo/full/bundle.js
/demo/full/lib.js
/demo/full/bundle.js.LICENSE.txt
/demo/full/lib.js.LICENSE.txt
/demo/standalone/lib.js
/demo/bundle.js

/tests/integration/coverage
/coverage

/tests/performance/node_modules
/tests/performance/bundle1.js
/tests/performance/bundle2.js
/tests/performance/package.json
/tests/performance/package-lock.json

/dist/_esm5.processed
/dist/_esm5.raw

/doc/generated

/features
/logger
/minimal
/experimental
/types
/tools

/src/parsers/manifest/dash/wasm-parser/target

/.idea
