/tmp
/localhost.crt
/localhost.key
/node_modules

/demo/full/bundle.js
/demo/full/worker.js
/demo/standalone/lib.js

/tests/performance/node_modules
/tests/performance/bundle1.js
/tests/performance/bundle2.js
/tests/performance/package.json
/tests/performance/package-lock.json

/dist/

/doc/generated

/src/__GENERATED_CODE
/src/parsers/manifest/dash/wasm-parser/target

# IDE files
/.idea
/.vscode
