node_modules
/localhost.crt
/localhost.key
*.log
*.keys

demo/bundle.js

coverage/

dist/*
!dist/rx-player.js
!dist/rx-player.min.js
test-output.xml
/src/parsers/manifest/dash/wasm-parser/target

demo/bundle.js

.vscode
