/*.keys
/*.log
/.eslintignore
/.scannerwork
/sonar-project.properties
/localhost.crt
/localhost.key
/node_modules
/webpack-demo.config.mjs

/demo

/tests

/doc
/src
/.github
/scripts

/FILES.md
/CONTRIBUTING.md

# tools config
/.editorconfig
/.eslintrc*
/jest.config.js
/tsconfig*.json
/webpack.config.mjs
