/*.keys
/*.log
/.eslintignore
/.eslintrc
/.scannerwork
/.sonar-project.properties
/localhost.crt
/localhost.key
/.travis.yml
/node_modules
/test-output.xml
/tslint.json
/webpack-demo.config.js
/webpack-tests.config.js
/webpack.config.js

/demo

/tests
/coverage

/dist/_esm5.raw

/doc
/src/parsers/manifest/dash/wasm-parser/target
