@font-face {
  font-family: "icons";
  src: url("../fonts/FontAwesome.otf");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes grow-generated-url {
  from {
    opacity: 0;
    margin-top: -51px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

body {
  margin: 0px;
  font-family: "CanalDemiRomain", "Open Sans", sans-serif;
  background-color: #ececec;
}

.icon {
  font-family: "icons", sans-serif;
}

.headers-title {
  display: flex;
  align-items: center;
}

.title-wrapper h1 {
  display: flex;
  width: 100%;
  line-height: 1.05;
}

.title-wrapper a:hover {
  color: rgb(128, 128, 128);
}

.title-wrapper a span:hover {
  color: rgb(128, 128, 128);
}

.title > * {
  text-decoration: none !important;
}

.title-logo {
  display: inline-block;
  height: 25px;
  margin: 0px 15px 0px 0px;
}

.rxplayer-logo {
  display: inline-block;
  width: 150px;
}

.title-wrapper .name {
  font-weight: bold;
  font-size: 25px;
}

.title-wrapper .version {
  font-weight: normal;
  font-size: 15px;
  color: rgb(200, 200, 200);
}

.custom-input-wrapper {
  border: 1px dashed #d1d1d1;
  padding: 0px 10px 10px 10px;
  margin-top: 10px;
}

.player-logs-wrapper-bar {
  display: flex;
  flex-direction: row;
}

#player-container {
  width: 100%;
}

.video-player-section {
  padding: 25px 4px;
}

.video-player-content {
  max-width: 1000px;
  margin: auto;
  text-align: left;
}

.white-select select {
  /* styling */
  background-color: white;
  color: #1d1d1d;
  display: inline-block;
  font: inherit;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../assets/select_arrow_black.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;

  border: 1px solid #d1d1d1;
  padding: 2px 18px 2px 5px;
}

.choice-input {
  margin: 0px;
  display: inline;
}

.choice-input > select {
  display: flex;
  background-color: white;
  border-radius: 3px;
}

.choice-input.white-select select {
  height: 41px;
  padding: 10px 25px 10px 15px;
}

.white-select option {
  padding: 8px;
}

.choice-inputs-wrapper {
  margin: 10px auto 10px auto;
  padding: 0 0 5px 0;
}

.content-inputs {
  display: flex;
  align-items: center;
}

.content-inputs > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-inputs-selects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-inputs-middle {
  display: flex;
  flex-direction: row;
}

.text-input {
  font-family: CanalDemiRomain, "Open Sans", sans-serif;
  font-size: 1rem;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 10px 25px 10px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  display: flex;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-choice {
  margin: 0 5px;
  width: 100%;
}

.content-choice select {
  width: 100%;
}

.video-player-wrapper {
  background-color: #000;
  margin: auto;
  margin-top: 5px;
}

.video-player-wrapper video {
  width: 100%;
  height: 100%;
}

.fullscreen.video-player-wrapper {
  width: 100%;
}

.video-screen-parent {
  position: relative;
}

.fullscreen .video-screen-parent {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-track {
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.video-player-spinner {
  z-index: 1001;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  margin-left: -25px;
  left: 50%;
  margin-top: -25px;
}

.player-error {
  color: white;
  margin: 30px 35px;
  text-align: left;
  position: absolute;
}

.error-icon {
  margin-right: 10px;
}

.error-intro {
  margin-right: 10px;
}

.controls-bar {
  display: flex;
  background-color: #111111;
  height: 45px;
  color: #fff;
  text-align: left;
}

.progress-current-position {
  color: #fff;
  display: inline-block;
  position: relative;
  margin: auto;
  width: 41px;
  text-align: center;
}

.progress-duration {
  color: #fff;
  display: inline-block;
  position: relative;
  margin: auto;
  width: 41px;
  text-align: center;
}

.thumbnail-wrapper {
  position: absolute;
  display: block;
  left: 0px;
  height: 100px;
  width: 180px;
  margin-left: -90px;
  z-index: 1011;
  transform: scaleY(1);
  animation: fadein 0.6s;
}

.thumbnail {
  height: 100%;
}

.controls-bar-container {
  background-color: #111111;
  margin-top: -4px;
  z-index: 1000;
}

.fullscreen .controls-bar-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.fullscreen .controls-bar {
  display: none;
}

.progress-bar-parent {
  position: relative;
}

.progress-bar-wrapper {
  height: 6px;
  cursor: pointer;
  display: flex;
  position: relative;
  background-color: #000;
  width: 100%;
  margin: auto;
  transition: all 0.2s ease;
  z-index: 9999;
}

.progress-bar-wrapper:hover {
  transform: scaleY(2);
}

.progress-bar-current {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #eee;
  z-index: 3;
  transition-duration: 0.1s;
}

.progress-bar-wrapper:hover .progress-bar-current {
  background-color: #fff;
}

.progress-bar-buffered {
  position: absolute;
  height: 100%;
  background-color: #333;
  z-index: 2;
  transition-duration: 0.3s;
}

.controls-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-right: 6px;
}

.option-panel {
  background-color: white;
  position: absolute;
  padding: 5px 10px 5px 20px;
  border-radius: 3px;
  z-index: 101;
  transition: all 200ms;
  opacity: 0;
  transform: translate(-7px, 42px);
  pointer-events: none;
}

.option-panel > tr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option-panel.fade-in-out {
  opacity: 1;
  transform: translate(-7px, 50px);
  pointer-events: auto;
  box-shadow: 0px 0px 20px 4px #0000001a;
}

.choice-input-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-right: -5px;
  margin-left: auto;
}

.choice-input-button-wrapper > button {
  border-radius: 3px;
}

.show-options {
  margin-left: 8px;
  margin-right: 8px;
  flex-direction: row;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: #2b2e2f;
  border: dashed 1px #d1d1d1;
  height: 39px;
  border-radius: 3px;
  padding-right: 5px;
  text-align: center;
}

.show-options > label:first-child {
  margin: 5px;
}

.choice-input-button {
  font-family: "icons", sans-serif;
  border: solid 1px #d1d1d1;
  margin: 5px;
  height: 41px;
  color: #2f3132;
  background-color: #fff;
}

.choice-input-button:hover {
  color: #ec3655;
  box-shadow: 0px 0px 30px 0px rgba(245, 245, 255, 0.75);
}

.choice-input-button:disabled {
  color: #999;
}

.choice-input-button:disabled:hover {
  box-shadow: none;
}

.control-button {
  font-size: 1.2em;
  width: 35px;
  border: none;
  font-family: "icons", sans-serif;
  color: #ccc;
  background: transparent;
  cursor: pointer;
  outline: 0;
  margin: 0 3px 0 3px;
}

.running {
  display: inline;
  position: relative;
  margin: auto;
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
}

.running:hover:after {
  background: #ed3656;
  background: rgba(237, 54, 86, 0.9);
  bottom: 40px;
  color: #fff;
  content: attr(title);
  left: 32%;
  padding: 5px 15px;
  position: absolute;
  text-align: center;
  z-index: 10000;
  width: 175px;
}

.running:hover:before {
  border: solid;
  border-color: #ed3656 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 35px;
  content: "";
  left: 32%;
  position: absolute;
  z-index: 10001;
}

.running > svg {
  width: 22px;
  fill: #ccc;
  transform: scale(-1, 1);
}

.running:hover > svg {
  fill: #fff;
}

.running.clicked > svg {
  fill: #ed3656;
}

.running.clicked:hover > svg {
  fill: #f3687f;
}

.link {
  background-color: white;
  cursor: pointer;
  width: 41px;
  height: 41px;
  padding: 10px;
  border-radius: 3px;
  border: #d1d1d1 1px solid;
  margin-left: 5px;
}

.link:hover {
  color: #ed3656;
}

.link.enabled {
  color: #ffffff;
  background-color: #ec3655;
}

.catch-up {
  color: #ed3656;
  border: solid 1px #ed3656;
  border-radius: 3px;
  padding: 2px 9px;
}

.control-button:hover {
  color: #fff;
}

.control-button.disabled {
  color: #444;
}

.play-pause-button {
  margin-left: 14px;
  position: relative;
}

.options-button {
  font-size: 1.1rem;
  width: 90px;
}

.load-button {
  font-size: 1.5rem;
  width: 60px;
}

.update-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.update-control-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-button {
  font-size: 1.1rem;
  border-radius: 3px;
  white-space: nowrap;
}

.content-button.disabled {
  background-color: #ececec;
}

.save-button {
  color: #fff;
  background-color: #ec3655;
}

.save-button:hover:not(.disabled) {
  color: #fff;
  background-color: #ff3655;
}

.cancel-button:hover {
  color: #ec3655;
}

.need-to-fill {
  font-weight: bold;
}

.erase-button {
  font-size: 1.5rem;
  width: 60px;
  border-radius: 3px;
  background-color: #ececec;
  border: dashed 1px #d1d1d1;
}

.options-button.clicked {
  background-color: #c6c6c6;
}

.position-infos {
  margin: auto;
  margin-left: 10px;
  font-size: 0.8em;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #666;
  border-radius: 50%;
  margin: auto;
  margin-left: 6px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dot.live {
  background-color: #ed3656;
  cursor: default;
}

.settings-button {
  width: auto;
}

.volume {
  position: relative;
  display: flex;
  padding: 1px 8px;
}

.volume-button {
  height: 100%;
  margin-left: 0px;
  margin-right: 4px;
  width: 35px;
  text-align: left;
}

.progress-controls {
  flex: 1;
  display: flex;
  position: relative;
  margin: auto;
}

.volume-bar-wrapper {
  height: 5px;
  position: relative;
  background-color: #000;
  cursor: pointer;
  margin: auto;
  margin-left: -8px;
  width: 60px;
  border-radius: 10px;
}

.volume-bar-current {
  height: 100%;
  background-color: #333;
  background-color: #ccc;
  border-radius: 10px;
}

.volume-bar-current:hover {
  background-color: #fff;
}

.volume-indicator {
  background-color: #000;
  color: #fff;
  margin-top: -7px;
}

.player-knobs-header {
  padding: 9px 20px 9px 20px;
  border-bottom: 1px dotted #555;
}

.player-knobs {
  width: 60%;
  max-width: 380px;
  min-width: 280px;
  color: white;
  position: absolute;
  background-color: #000000;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms;
  z-index: 1010;
  pointer-events: none;
}

.player-knobs.settings {
  bottom: 10px;
  right: 10px;
}

.player-knobs.infos {
  top: 10px;
  left: 10px;
}

.player-knobs.fade-in-out {
  transform: scale(1);
  pointer-events: auto;
  opacity: 0.8;
}

.player-knobs-title {
  font-weight: bold;
}

.player-knobs-close {
  font-family: "icons", sans-serif;
  color: #d0d0cf;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.player-knobs-close:hover {
  color: #ffffff;
}

.player-knobs-content {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
}

.player-knobs > div {
  display: flex;
  justify-content: space-between;
}

.knob {
  display: flex;
  margin: 5px 0 5px 0;
}

.knob-name {
  margin: auto 10px auto auto;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.knob-value {
  display: inline-block;
  flex: 1;
}

.black-knob select {
  /* styling */
  background-color: #000;
  display: inline-block;
  font: inherit;

  margin: 0;
  padding: 3px 21px 3px 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../assets/select_arrow_white.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;
}

.generated-url {
  z-index: 1;
  color: #3a3a3a;
  font-size: 14px;
  height: 21px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 10px;
  display: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.generated-url.enabled {
  animation: grow-generated-url 0.6s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.generated-url-link.none {
  color: #222;
  text-decoration: none;
  font-style: italic;
}
.generated-url-link {
  color: #ec3655;
  text-decoration: none;
}

.knob-value > select {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0);
  color: rgb(240, 240, 240);
}

.black-knob select:disabled {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
}

.knob-value > select:disabled {
  color: rgb(130, 130, 130);
}

.knob-value > select:focus {
  border: 0;
  outline: 0;
  color: rgb(240, 240, 240);
}

.player-charts {
  margin-top: 30px;
}

.player-box {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px;
}

.checkbox-indication {
  font-style: italic;
  font-size: 0.8em;
}

.encryption-checkbox.disabled {
  color: #888;
}

.chart-checkbox {
  color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px;
  font-size: 0.9rem;
}

.chart-checkbox > input {
  margin: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #ec3655;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ec3655;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox {
  color: #1d1d1d;
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fallback-checkbox {
  margin-right: 1px;
}

.fallback-switch {
  margin-right: 0px;
}

.checkbox > input {
  margin: 10px;
}

.player-logs-wrapper {
  margin-top: 20px;
}

.player-logs-wrapper-title {
  color: #242424;
  margin: 10px;
  width: 100%;
}

.player-logs-wrapper-trash {
  font-family: "icons", sans-serif;
  color: gray;
  border: none;
  background: none;
  font-size: 1.3rem;
  float: right;
}

.player-logs-wrapper-trash:hover {
  color: white;
}

.player-logs {
  background-color: #242424;
  border-radius: 3px;
  color: #cccccc;
  font-size: 0.8em;
  padding: 10px;
  height: 300px;
  overflow: auto;
  white-space: nowrap;
}

.tooltip-wrapper {
  position: absolute;
  display: block;
  left: 0px;
  padding: 5px;
  font-size: 12px;
  z-index: 1012;
  transform: scaleY(1);
  animation: fadein 0.6s;
  background-color: #1d1d1d;
  color: white;
}

.tooltip {
  display: inline;
  font-family: "CanalDemiRomain", "Open Sans", sans-serif;
}

.buffer-content-tip {
  font-family: "monospace", "mono", sans-serif;
  pointer-events: none;
}

.nav-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  background-color: #323435;
  color: #ffffff;
  z-index: 10;
}

.nav-header a {
  color: #ffffff;
}

.header-links-buttons {
  display: flex;
  align-items: baseline;
}

.header-links-buttons > * {
  margin: 3px;
}

.button-gh {
  margin: 5px;
}

.drm-button {
  margin: 5px 10px 5px 0;
  font-size: 1em;
  padding: 10px;
  border-radius: 3px;
}

.drm-button.selected {
  background-color: #ec3655;
  color: #fff;
}

.drm-button.selected:hover {
  background-color: #ec3655;
  color: #fff;
}

.drm-settings {
  background: #ffffff;
  padding: 5px 14px 0px 14px;
  margin: 4px 0 4px 0;
}

@media only screen and (max-width: 800px) {
  .content-inputs {
    flex-direction: column;
  }

  .choice-input-button-wrapper {
    margin-left: 0px;
  }

  .content-inputs-left {
    flex-direction: column;
  }

  .update-control {
    flex-direction: column;
  }
}

@media only screen and (max-width: 650px) {
  .button-gh {
    display: none;
  }

  .catch-up {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .title-logo {
    display: none;
  }
}

/* for IE10 & IE11 */
@media all and (-ms-high-contrast: none) {
  .player-knobs {
    opacity: 0;
    background-color: #000000;
  }
  .player-knobs.fade-in-out {
    opacity: 1;
    background-color: #000000;
  }
  .black-knob select {
    background-image: none;
    padding: 3px 3px 3px 3px;
  }
  .white-select select {
    background-image: none;
    padding: 10px 15px 10px 15px;
  }
  .content-choice select {
    width: auto;
  }
  .position-infos {
    margin: 15px auto;
  }
  .title-logo {
    display: none;
  }
}

.container-buffer-graph {
  border: 1px dotted #999;
  margin: 15px 5px;
  padding: 5px;
}

.canvas-buffer-graph-container {
  position: relative;
  margin: 0px 5px 5px 5px;
  border: 1px solid black;
  height: 15px;
}

.canvas-buffer-graph {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.canvas-buffer-size-container {
  margin: 5px;
}

.canvas-buffer-size {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.buffer-graph-title {
  font-size: 13px;
  font-weight: bold;
  margin: 5px;
}

.buffer-content-no-content {
  text-align: center;
  padding: 10px;
}

.video-player-manual-play-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.video-player-manual-play {
  margin: auto;
  height: 110px;
}

.loadVideooptions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.spacer {
  border: solid 1px #ec3655;
  width: 90%;
}

.loadVideooptions li {
  padding: 5px 10px;
  border-top: dashed 1px black;
  display: flex;
  flex-direction: column;
}

.loadVideooptions li:first-child {
  border-top: none;
}

.loadVideooptions label {
  margin-bottom: 5px;
}

.loadVideooptions input,
select {
  margin: 5px 0;
}

.optionWrapper {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
  flex: 1 1 0px;
}

.optionWrapper:last-child {
  margin-right: 0;
}

.optionTitle {
  margin-bottom: 5px;
  text-align: center;
}

.settingsWrapper {
  margin: 10px 0;
}

.featureWrapperWithSelectMode {
  display: flex;
  flex-direction: column;
}

.playerOptionInput {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.playerOptionsCheckBoxTitle {
  font-weight: bold;
}

.playerOptionsCheckBox {
  margin: 5px 0;
}

.wrapperInputWithResetBtn {
  display: flex;
  align-items: center;
}

.optionInput {
  flex-grow: 1;
}

.resetBtn {
  font-family: "icons";
  border: 0;
  background: transparent;
  color: #ec3655;
  cursor: pointer;
}

.disabledResetBtn {
  color: #b5b5b5;
  cursor: auto;
}
