@font-face {
  font-family: "icons";
  src: url("../fonts/FontAwesome.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  font-family: "CanalDemiRomain", "Open Sans", sans-serif;
}

.icon {
  font-family: "icons", sans-serif;
}

.headers-title {
  display: flex;
  align-items: center;
}

.title-wrapper h1 {
  display: flex;
  width: 100%;
  line-height: 1.05;
}

.title-wrapper a:hover {
  color: rgb(128, 128, 128);
}

.title-wrapper a span:hover {
  color: rgb(128, 128, 128);
}

.title > * {
  text-decoration: none !important;
}

.title-logo {
  display: inline-block;
  height: 25px;
  margin: 0px 15px 0px 0px;
}

.rxplayer-logo {
  display: inline-block;
  width: 150px;
}

.title-wrapper .name {
  font-weight: bold;
  font-size: 25px;
}

.title-wrapper .version {
  font-weight: normal;
  font-size: 15px;
  color: rgb(200,200,200);
}

.player-logs-wrapper-bar {
  display: flex;
  flex-direction: row;
}

#player-container {
  width: 100%;
}

.video-player-section {
  background-color: #ececec;
  padding: 25px 4px;
}

.video-player-content {
  max-width: 1000px;
  margin: auto;
  text-align: left;
}

.white-select select {
  /* styling */
  background-color: white;
  color: #1d1d1d;
  display: inline-block;
  font: inherit;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../assets/select_arrow_black.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;

  border: 1px solid #d1d1d1;
  padding: 2px 18px 2px 5px;
}

.choice-input {
  margin: 0px;
  display: inline;
}

.choice-input > select {
  display: flex;
  background-color: white;
  border-radius: 3px;
}

.choice-input.white-select select {
  height: 41px;
  padding: 10px 25px 10px 15px;
}

.white-select option {
  padding: 8px;
}

.choice-inputs-wrapper {
  margin: 10px auto 10px auto;
  padding: 0 0 5px 0;
}

.content-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-inputs > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-input {
  font-family: CanalDemiRomain, "Open Sans", sans-serif;
  font-size: 1rem;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 10px 25px 10px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  display: flex;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-choice {
  flex: 1;
  margin: 0 5px;
  width: 100%;
}

.content-choice select {
  width: 100%;
}

.video-player-wrapper {
  background-color: #000;
  margin: auto;
}

.video-player-wrapper video {
  width: 100%;
  height: 100%;
}

.fullscreen.video-player-wrapper {
  width: 100%;
}

.video-screen-parent {
  position: relative;
}

.fullscreen .video-screen-parent {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.text-track {
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 101;
}

.video-player-spinner {
  z-index: 1001;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  margin-left: -25px;
  left: 50%;
  margin-top: -25px;
}

.player-error {
  color: white;
  margin: 30px 35px;
  text-align: left;
  position: absolute;
}

.error-icon {
  margin-right: 10px;
}

.error-intro {
  margin-right: 10px;
}

.controls-bar {
  display: flex;
  background-color: #111111;
  height: 45px;
  color: #fff;
  text-align: left;
}

.progress-current-position {
  color: #fff;
  display: inline-block;
  position: relative;
  margin: auto;
  width: 41px;
  text-align: center;
}

.progress-duration {
  color: #fff;
  display: inline-block;
  position: relative;
  margin: auto;
  width: 41px;
  text-align: center;
}

.image-tip-wrapper {
  position: absolute;
  display: block;
  left: 0px;
  height: 100px;
  width: 180px;
  margin-left: -90px;
  z-index: 1011;
  transform:scaleY(1);
  animation: fadein 0.6s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.image-tip {
  height: 100%;
}

.controls-bar-container {
  background-color: #111111;
  margin-top: -4px;
  z-index: 1001;
}

.fullscreen .controls-bar-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.fullscreen .controls-bar {
  display: none;
}

.progress-bar-parent {
  position: relative;
}

.progress-bar-wrapper {
  height: 6px;
  cursor: pointer;
  display: flex;
  position: relative;
  background-color: #000;
  width: 100%;
  margin: auto;
  transition: all 0.2s ease;
  z-index: 9999;
}

.progress-bar-wrapper:hover {
  transform:scaleY(2);
}

.progress-bar-current {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #eee;
  z-index: 3;
  transition-duration: 0.1s;
}

.progress-bar-wrapper:hover .progress-bar-current {
  background-color: #fff;
}

.progress-bar-buffered {
  position: absolute;
  height: 100%;
  background-color: #333;
  z-index: 2;
  transition-duration: 0.3s;
}

.controls-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-right: 6px;
}

.option-panel {
  background-color: white;
  position: absolute;
  padding: 5px 10px 5px 20px;
  border-radius: 3px;
  z-index: 101;
  transition: all 200ms;
  opacity: 0;
  transform: translate(-7px, 42px);
  pointer-events: none;
}

.option-panel > tr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option-panel.fade-in-out {
  opacity: 1;
  transform: translate(-7px, 50px);
  pointer-events: auto;
  box-shadow: 0px 0px 20px 4px #0000001a;
}

.choice-input-button-wrapper {
  margin-right: -5px;
}

.choice-input-button-wrapper > button {
  border-radius: 3px;
}

.auto-play {
  margin-left: 8px;
  margin-right: 8px;
  flex-direction: row;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: #2b2e2f;
  border: dashed 1px #d1d1d1;
  height: 39px;
  padding: 0 0 0 10px;
  border-radius: 3px;
}

.choice-input-button {
  font-family: "icons", sans-serif;
  border: solid 1px #d1d1d1;
  margin: 5px;
  height: 41px;
  color: #2f3132;
  background-color: #fff;
}

.choice-input-button:hover {
  color: #ec3655;
  box-shadow: 0px 0px 30px 0px rgba(245, 245, 255, 0.75);
}

.choice-input-button:disabled {
  color: #999;
}

.choice-input-button:disabled:hover {
  color: #888;
  box-shadow: none;
}

.control-button {
  font-size: 1.2em;
  width: 35px;
  border: none;
  font-family: "icons", sans-serif;
  color: #ccc;
  background: transparent;
  cursor: pointer;
  outline: 0;
  margin: 0 3px 0 3px;
}

.control-button:hover {
  color: #fff;
}

.control-button.disabled {
  color: #444;
}

.play-pause-button {
  margin-left: 14px;
  position: relative;
}

.options-button {
  font-size: 1.1rem;
  width: 90px;
}

.load-button {
  font-size: 1.5rem;
  width: 60px;
}

.options-button.clicked {
  background-color: #c6c6c6;
}

.position-infos {
  margin: auto;
  margin-left: 10px;
  font-size: 0.8em;
  flex-grow: 1;
}

.settings-button {
  width: auto;
}

.volume {
  position: relative;
  display: flex;
  padding: 1px 8px;
}

.volume-button {
  height: 100%;
  margin-left: 0px;
  margin-right: 4px;
  width: 35px;
  text-align: left;
}

.progress-controls {
  flex: 1;
  display: flex;
  position: relative;
  margin: auto;
}

.volume-bar-wrapper {
  height: 5px;
  position: relative;
  background-color: #000;
  cursor: pointer;
  margin: auto;
  margin-left: -8px;
  width: 60px;
  border-radius: 10px;
}

.volume-bar-current {
  height: 100%;
  background-color: #333;
  background-color: #ccc;
  border-radius: 10px;
}

.volume-bar-current:hover {
  background-color: #fff;
}

.volume-indicator {
  background-color: #000;
  color: #fff;
  margin-top: -7px;
}

.player-knobs-header {
  padding: 9px 20px 9px 20px;
  border-bottom: 1px dotted #555;
}

.player-knobs {
  width: 60%;
  max-width: 380px;
  min-width: 280px;
  color: white;
  position: absolute;
  background-color: #000000;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms;
  z-index: 1010;
  pointer-events:none;
}

.player-knobs.settings {
  bottom: 10px;
  right: 10px;
}

.player-knobs.infos {
  top: 10px;
  left: 10px;
}

.player-knobs.fade-in-out {
  transform: scale(1);
  pointer-events: auto;
  opacity: 0.8;
}

.player-knobs-title {
  font-weight: bold;
}

.player-knobs-close {
  font-family: "icons", sans-serif;
  color: #d0d0cf;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.player-knobs-close:hover {
  color: #ffffff;
}

.player-knobs-content {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
}

.player-knobs > div {
  display: flex;
  justify-content: space-between;
}

.knob {
  display: flex;
  margin: 5px 0 5px 0;
}

.knob-name {
  margin: auto 10px auto auto;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.knob-value {
  display: inline-block;
  flex: 1;
}

.black-knob select {
  /* styling */
  background-color: #000;
  display: inline-block;
  font: inherit;

  margin: 0;
  padding: 3px 21px 3px 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../assets/select_arrow_white.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;
}

.knob-value > select {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: rgba(0,0,0);
  color: rgb(240,240,240);
}

.black-knob select:disabled {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background-image: none;
}

.knob-value > select:disabled {
  color: rgb(130,130,130);
}

.knob-value > select:focus {
  border: 0;
  outline: 0;
  color: rgb(240,240,240);
}

.player-charts {
  margin-top: 30px;
}

.player-box {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.encryption-checkbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 5px;
}

.encryption-checkbox.disabled {
  color: #888;
}

.chart-checkboxes {
  font-size: 0.8em;
}

.chart-checkbox {
  color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px;
  font-size: 0.9rem;
}

.chart-checkbox > input {
  margin: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #ec3655;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ec3655;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox {
  color: #1d1d1d;
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox > input {
  margin: 10px;
}

.player-logs-wrapper {
  margin-top: 20px;
}

.player-logs-wrapper-title {
  color: #242424;
  margin: 10px;
  width: 100%;
}

.player-logs-wrapper-trash {
  font-family: "icons", sans-serif;
  color: gray;
  border: none;
  background: none;
  font-size: 1.3rem;
  float: right;
}

.player-logs-wrapper-trash:hover {
  color: white;
}

.player-logs {
  background-color: #242424;
  border-radius: 3px;
  color: #cccccc;
  font-size: 0.8em;
  padding: 10px;
  height: 300px;
  overflow: auto;
  white-space: nowrap;
}

.time-indicator-wrapper {
  position: absolute;
  display: block;
  left: 0px;
  padding: 5px;
  font-size: 12px;
  z-index: 1012;
  transform:scaleY(1);
  animation: fadein 0.6s;
  background-color: #1d1d1d;
  color: white;
}

.time-indicator {
  height: 100%;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  background-color: #323435;
  color: #ffffff;
}

.nav-header a {
  color: #ffffff;
}

.header-links-buttons {
  display: flex;
  align-items: baseline;
}

.header-links-buttons > * {
  margin: 3px;
}

.github-button {
  margin: 5px;
}

.drm-button {
  margin: 5px 10px 5px 0;
  font-size: 1em;
  padding: 10px;
  border-radius: 3px;
}

.drm-button.selected {
  background-color: #ec3655;
  color: #fff;
}

.drm-button.selected:hover {
  background-color: #ec3655;
  color: #fff;
}

.drm-settings {
  background: #ffffff;
  padding: 5px 14px 0px 14px;
  margin: 4px 0 4px 0;
}

@media only screen and (max-width: 660px) {
  .content-inputs {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .title-logo {
    display: none;
  }
}

/* for IE10 & IE11 */
@media all and (-ms-high-contrast: none) {
  .player-knobs {
    opacity: 0;
    background-color: #000000;
  }
  .player-knobs.fade-in-out {
    opacity: 1;
    background-color: #000000;
  }
  .black-knob select {
    background-image: none;
    padding: 3px 3px 3px 3px;
  }
  .white-select select {
    background-image: none;
    padding: 10px 15px 10px 15px;
  }
  .content-choice select {
    width: auto;
  }
  .position-infos {
    margin: 15px auto;
  }
  .title-logo {
    display: none;
  }
}
